@import 'variables';
@import 'mixins';

body{ 
	width: 100%; 
	height: 100%;
	margin: 0 0;
	padding: 0 0;
	font-family: 'SourceSansProRegular', sans-serif;
	overflow: hidden;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0 0;
}

.title{

	margin: 0 0;
	padding: 0 0;
	a{
		width: 350px;
		height: 180px;
		margin: 0 auto;
		display: block;
		background: url('../images/logoMain.png') 0 -10px no-repeat;
	}
	span{ display: none; }
}

.main_header{

	width: 100%;

	.menu_container{
		border-top: 1px solid $darkBlue;
		box-shadow: 0 2px 5px #444;
		z-index: 800;
		position: relative;
		@include gradient-blue;

		.menu{

			width: 845px;
			margin: 0 auto;
			padding: 0 0;
			display: block;
			overflow: hidden;
			list-style: none;

			.homeButton{

				opacity: 0;
				-webkit-transition: opacity 0.2s linear;

				a{ 
					color: transparent; 
					background-image: url('../images/homeButton.png');
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: 18px;
				}
			}

			li{ 
				margin: 0 0;
				padding: 0 0;
				float: left;

				a{
					padding: 5px 25px 0;
					color: #FFF;
					font-size: 14px;
					line-height: 44px;
					text-decoration: none;
					display: block;
					@include transparent-border;
					border-bottom: 2px solid transparent;

					&:hover{ @include menu-hover; }
				}

				.active-item{ @include menu-hover; }

				&:first-child{ 
					a{ padding: 5px 10px 0; }
				}
			}
		}
	}
}

.hero{
	width: 100%;
	height: 125px;
	position: relative;

	.content-overlay{
		width: 100%;
		padding: 25px 0;
		top: 0;
		left: 0;
		@include gradient-grey;
		border-bottom: 1px solid rgb(177, 175, 175);
		box-shadow: 0 2px 5px #333;
		text-align: center;
		position: absolute;
		z-index: 100;

		h2, h3{ margin: 0; padding: 0; color: #000; }

		h2{ font-family: 'SourceSansProSemibold', sans-serif; font-size: 2.5em; text-shadow: 0 1px 2px #FFF; }
		h3{ font-family: 'SourceSansProLightwebfont', sans-serif; font-size: 2em; }

		span{ width: 32px; height: 26px; position: absolute; }
		.quote-left{ top: 15px; left: 80px; background: url('../images/quote-left.png') 0 0 no-repeat; }
		.quote-right{ top: 75px; right: 85px; background: url('../images/quote-right.png') 0 0 no-repeat; }
	}
}

.content-list{

	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	display: block;
	position: relative;

	.sliderImage{ 
		width: 100%; 
		height: 800px;
		margin: 0 0;
		padding: 0 0 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		-webkit-transition: all 0.4s linear;

		.page-content{

			width: 400px;
			height: 100%;
			padding: 25px 25px 25px;
			background: rgba(51, 51, 51, 0.8);
			border-right: 5px solid $darkBlue;
			-webkit-transition: all linear 0.5s;

			h2, h4{ margin: 0 0; padding: 0 0; font-family: 'SourceSansProSemibold'; color: #FFF; }
				
			h2{ margin: 5px 0 30px; font-size: 3em; }
			h4{ padding: 0 0 5px; font-size: 1.5em; border-bottom: 1px solid #FFF; color: #FFF; }

			p{
				margin: 15px 0 0;
				padding: 10px 0;
				font-size: 1em;
				font-family: 'SourceSansProLightwebfont', sans-serif;
				line-height: 1.25em;
				color: #FFF;
			}
		}
	}
}

/** Responsive Media Queries **/
@media all and (min-width: 1000px) and (max-width: 1200px){
	body{ background: pink; }

	.hero{
		.content-overlay{
			h2{ font-size: 2em;}
			h3{ font-size: 1.5em; }

			span{ display: none; }
		}
	}

}

@media all and (max-width: 1000px){
	.hero{

		height: 100px;

		.content-overlay{
			top: 0;
			position: relative;

			h2{ font-size: 1.8em;}
			h3{ font-size: 1.3em; }

			span{ display: none; }
		}
		.flexslider{ display: none; }
	}

	.content-list{

		.sliderImage{
			height: 720px;
			background-size: 110%;

			.page-content{
				width: 300px;

				h2{ font-size: 2em; }
				h4{ font-size: 1.25em; }

				p{ font-size: 1em; }
			}
		}
	}
}

@media all and (max-width: 800px){
	.main-header{
		.menu_container{
			.menu{
				li{
					a{ padding: 5px 18px 0; }
				}
			}
		}
	}
	.hero{

		height: 90px;

		.content-overlay{
			top: 0;
			position: relative;

			h2{ font-size: 1.5em;}
			h3{ font-size: 1em; }

			span{ display: none; }
		}
		.flexslider{ display: none; }
	}

	.content-list{
		.sliderImage{
			height: 1028px;
			background-size: 205%;
			background-position: 20% 0;
		}
	}
}
