@import 'variables';
@import 'mixins';

body{ 
	width: 100%; 
	height: 100%;
	margin: 0 0;
	padding: 0 0;
	font-family: 'SourceSansProRegular';
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0 0;
}

.title{

	margin: 0 0;
	padding: 0 0;
	a{
		width: 350px;
		height: 180px;
		margin: 0 auto;
		display: block;
		background: url('../images/logoMain.png') 0 -10px no-repeat;
		-webkit-transition: all 0.2s ease-out;
		opacity: 1;

		&:hover{ opacity: 0.7; }
	}
	span{ display: none; }
}

.main_header{

	width: 100%;

	.menu_container{
		@include gradient-blue;

		box-shadow: 0 2px 5px #444;
		z-index: 800;
		position: relative;

		.menu{

			width: 845px;
			margin: 0 auto;
			padding: 0 0;
			display: block;
			overflow: hidden;
			list-style: none;

			.homeButton{
				
				opacity: 0;
				-webkit-transition: opacity 0.2s linear;

				a{ 
					color: transparent; 
					background-image: url('../images/homeButton.png');
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: 18px;
				}
			}

			li{ 
				margin: 0 0;
				padding: 0 0;
				float: left;

				a{
					padding: 5px 25px 0;
					color: #FFF;
					font-size: 14px;
					line-height: 44px;
					text-decoration: none;
					display: block;
					@include transparent-border;

					&:hover{ 
						background-color: $darkBlue;
						border-left: 1px solid $lightBlue;
						border-right: 1px solid $lightBlue;
					}
				}

				&:first-child{ 
					a{ padding: 5px 10px 0; }
				}
			}
		}
	}
}

.content-list{

	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	display: block;
	position: relative;

	.sliderImage{ 
		width: 100%; 
		height: 800px;
		margin: 0 0;
		padding: 0 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		opacity: 0.75;
		-webkit-transition: all 0.2s linear;
	}
}