@import 'variables';

@mixin gradient-blue{
	background: $lightBlue; 
	background: -webkit-linear-gradient(bottom, $darkBlue 0%, $lightBlue 100%);
	background-repeat: no-repeat;
}

@mixin transparent-border{
	border: 1px solid transparent;
}

@mixin menu-hover{
	background-color: $darkBlue;
	border: 1px solid transparent;
	border-bottom: 2px solid #FFF;
}