@import 'variables';

@mixin gradient-blue{
	background: $lightBlue; 
	background: -webkit-linear-gradient(bottom, $darkBlue 0%, $lightBlue 100%);
	background-repeat: no-repeat;
}

@mixin transparent-border{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent
}