body {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: 'SourceSansProRegular', sans-serif;
  overflow: hidden; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 0; }

.title {
  margin: 0 0;
  padding: 0 0; }
  .title a {
    width: 350px;
    height: 180px;
    margin: 0 auto;
    display: block;
    background: url("../images/logoMain.png") 0 -10px no-repeat; }
  .title span {
    display: none; }

.main_header {
  width: 100%; }
  .main_header .menu_container {
    box-shadow: 0 2px 5px #444;
    z-index: 800;
    position: relative;
    background: #497ec5;
    background: -webkit-linear-gradient(bottom, #3766aa 0%, #497ec5 100%);
    background-repeat: no-repeat; }
    .main_header .menu_container .menu {
      width: 845px;
      margin: 0 auto;
      padding: 0 0;
      display: block;
      overflow: hidden;
      list-style: none; }
      .main_header .menu_container .menu .homeButton {
        opacity: 0;
        -webkit-transition: opacity 0.2s linear; }
        .main_header .menu_container .menu .homeButton a {
          color: transparent;
          background-image: url("../images/homeButton.png");
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 18px; }
      .main_header .menu_container .menu li {
        margin: 0 0;
        padding: 0 0;
        float: left; }
        .main_header .menu_container .menu li a {
          padding: 5px 25px 0;
          color: #FFF;
          font-size: 14px;
          line-height: 44px;
          text-decoration: none;
          display: block;
          border: 1px solid transparent;
          border-bottom: 2px solid transparent; }
          .main_header .menu_container .menu li a:hover {
            background-color: #3766aa;
            border: 1px solid transparent;
            border-bottom: 2px solid #FFF; }
        .main_header .menu_container .menu li .active-item {
          background-color: #3766aa;
          border: 1px solid transparent;
          border-bottom: 2px solid #FFF; }
        .main_header .menu_container .menu li:first-child a {
          padding: 5px 10px 0; }

.hero {
  width: 100%;
  height: 550px;
  position: relative; }
  .hero .content-overlay {
    width: 100%;
    padding: 25px 0;
    top: 375px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: absolute;
    z-index: 100; }
    .hero .content-overlay h2, .hero .content-overlay h3 {
      margin: 0;
      padding: 0;
      color: #000; }
    .hero .content-overlay h2 {
      font-family: 'SourceSansProSemibold', sans-serif;
      font-size: 2.5em;
      text-shadow: 0 1px 2px #FFF; }
    .hero .content-overlay h3 {
      font-family: 'SourceSansProLightwebfont', sans-serif;
      font-size: 2em; }
    .hero .content-overlay span {
      width: 32px;
      height: 26px;
      position: absolute; }
    .hero .content-overlay .quote-left {
      top: 15px;
      left: 80px;
      background: url("../images/quote-left.png") 0 0 no-repeat; }
    .hero .content-overlay .quote-right {
      top: 75px;
      right: 85px;
      background: url("../images/quote-right.png") 0 0 no-repeat; }

.content-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  display: block;
  position: relative; }
  .content-list .sliderImage {
    width: 100%;
    height: 800px;
    margin: 0 0;
    padding: 0 0 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s linear; }
    .content-list .sliderImage .page-content {
      width: 450px;
      height: 100%;
      padding: 75px 25px 25px;
      background: rgba(51, 51, 51, 0.8);
      border-right: 5px solid #3766aa; }
      .content-list .sliderImage .page-content h2, .content-list .sliderImage .page-content h4 {
        margin: 0 0;
        padding: 0 0;
        font-family: 'SourceSansProSemibold';
        color: #FFF; }
      .content-list .sliderImage .page-content h2 {
        margin: 5px 0 30px;
        font-size: 3em; }
      .content-list .sliderImage .page-content h4 {
        padding: 0 0 5px;
        font-size: 1.5em;
        border-bottom: 1px solid #FFF;
        color: #FFF; }
      .content-list .sliderImage .page-content p {
        margin: 15px 0 0;
        padding: 10px 0;
        font-size: 1.15em;
        font-family: 'SourceSansProLightwebfont', sans-serif;
        line-height: 1.25em;
        color: #FFF; }
