body {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: 'SourceSansProRegular', sans-serif; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 0; }

.title {
  margin: 0 0;
  padding: 0 0; }
  .title a {
    width: 350px;
    height: 180px;
    margin: 0 auto;
    display: block;
    background: url("../images/logoMain.png") 0 -10px no-repeat; }
  .title span {
    display: none; }

.main_header {
  width: 100%; }
  .main_header .menu_container {
    border-top: 1px solid #3766aa;
    z-index: 800;
    position: relative;
    background: #497ec5;
    background: -webkit-linear-gradient(bottom, #3766aa 0%, #497ec5 100%);
    background-repeat: no-repeat; }
    .main_header .menu_container .menu {
      width: 845px;
      margin: 0 auto;
      padding: 0 0;
      display: block;
      overflow: hidden;
      list-style: none; }
      .main_header .menu_container .menu .homeButton {
        opacity: 0;
        -webkit-transition: opacity 0.2s linear; }
        .main_header .menu_container .menu .homeButton a {
          color: transparent;
          background-image: url("../images/homeButton.png");
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 18px; }
      .main_header .menu_container .menu li {
        margin: 0 0;
        padding: 0 0;
        float: left; }
        .main_header .menu_container .menu li a {
          padding: 5px 25px 0;
          color: #FFF;
          font-size: 14px;
          line-height: 44px;
          text-decoration: none;
          display: block;
          border: 1px solid transparent; }
          .main_header .menu_container .menu li a:hover {
            background-color: #3766aa; }
        .main_header .menu_container .menu li .active-item {
          background-color: #3766aa; }
        .main_header .menu_container .menu li:first-child a {
          padding: 5px 10px 0; }

.hero {
  width: 100%;
  height: 125px;
  position: relative; }
  .hero .content-overlay {
    width: 100%;
    padding: 25px 0;
    top: 0;
    left: 0;
    background: #FFF;
    border-bottom: 1px solid #b1afaf;
    text-align: center;
    position: absolute;
    z-index: 100; }
    .hero .content-overlay h2, .hero .content-overlay h3 {
      margin: 0;
      padding: 0;
      color: #000; }
    .hero .content-overlay h2 {
      font-family: 'SourceSansProSemibold', sans-serif;
      font-size: 2.5em;
      text-shadow: 0 1px 2px #FFF; }
    .hero .content-overlay h3 {
      font-family: 'SourceSansProLightwebfont', sans-serif;
      font-size: 2em; }
    .hero .content-overlay span {
      width: 32px;
      height: 26px;
      position: absolute; }
    .hero .content-overlay .quote-left {
      top: 15px;
      left: 80px;
      background: url("../images/quote-left.png") 0 0 no-repeat; }
    .hero .content-overlay .quote-right {
      top: 75px;
      right: 85px;
      background: url("../images/quote-right.png") 0 0 no-repeat; }

.content-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  display: block;
  position: relative; }
  .content-list .sliderImage {
    width: 100%;
    height: 800px;
    margin: 0 0;
    padding: 0 0 0;
    background-repeat: no-repeat;
    background-position: 250px 0;
    background-size: 100%;
    display: block;
    position: relative;
    overflow: hidden; }
    .content-list .sliderImage .page-content {
      width: 400px;
      height: 100%;
      padding: 25px 25px 25px;
      background: #333;
      border-right: 5px solid #497ec5;
      -webkit-transition: all 0.2s linear; }
      .content-list .sliderImage .page-content h2, .content-list .sliderImage .page-content h4 {
        margin: 0 0;
        padding: 0 0;
        font-family: 'SourceSansProSemibold';
        color: #FFF; }
      .content-list .sliderImage .page-content h2 {
        margin: 5px 0 30px;
        font-size: 3em; }
      .content-list .sliderImage .page-content h4 {
        padding: 0 0 5px;
        font-size: 1.5em;
        border-bottom: 1px solid #FFF;
        color: #FFF; }
      .content-list .sliderImage .page-content p {
        margin: 15px 0 0;
        padding: 10px 0;
        font-size: 1em;
        font-family: 'SourceSansProLightwebfont', sans-serif;
        line-height: 1.25em;
        color: #FFF; }

/** Responsive Media Queries **/
@media all and (min-width: 1000px) and (max-width: 1200px) {
  body {
    background: pink; }

  .hero .content-overlay h2 {
    font-size: 2em; }
  .hero .content-overlay h3 {
    font-size: 1.5em; }
  .hero .content-overlay span {
    display: none; } }
@media all and (max-width: 1000px) {
  .hero {
    height: 100px; }
    .hero .content-overlay {
      top: 0;
      position: relative; }
      .hero .content-overlay h2 {
        font-size: 1.8em; }
      .hero .content-overlay h3 {
        font-size: 1.3em; }
      .hero .content-overlay span {
        display: none; }
    .hero .flexslider {
      display: none; }

  .content-list .sliderImage {
    height: 720px;
    background-size: 110%; }
    .content-list .sliderImage .page-content {
      width: 300px; }
      .content-list .sliderImage .page-content h2 {
        font-size: 2em; }
      .content-list .sliderImage .page-content h4 {
        font-size: 1.25em; }
      .content-list .sliderImage .page-content p {
        font-size: 1em; } }
@media all and (max-width: 800px) {
  .main-header .menu_container .menu li a {
    padding: 5px 18px 0; }

  .hero {
    height: 90px; }
    .hero .content-overlay {
      top: 0;
      position: relative; }
      .hero .content-overlay h2 {
        font-size: 1.5em; }
      .hero .content-overlay h3 {
        font-size: 1em; }
      .hero .content-overlay span {
        display: none; }
    .hero .flexslider {
      display: none; }

  .content-list .sliderImage {
    height: 1028px;
    background-size: 205%;
    background-position: 20% 0; } }
